.gi-arrow_up {
    clip-path: polygon(11% 30%, 50% 0, 89% 30%, 85% 35%, 54% 11%, 54% 100%, 46% 100%, 46% 11%, 15% 35%);
}

.gi-arrow_right {
    clip-path: polygon(0 46%, 89% 46%, 65% 14%, 70% 10%, 100% 50%, 70% 90%, 65% 86%, 89% 54%, 0 54%);
}

.gi-arrow_left {
    clip-path: polygon(0 50%, 30% 10%, 35% 14%, 12% 46%, 100% 46%, 100% 54%, 12% 54%, 35% 86%, 30% 90%);
}

.gi-arrow_down {
    clip-path: polygon(10% 70%, 14% 65%, 46% 89%, 46% 0, 54% 0, 54% 89%, 86% 65%, 90% 70%, 50% 100%);
}

.gi-button_play {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.gi-button_stop {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.gi-cross {
    clip-path: polygon(0 4%, 4% 0, 50% 46%, 96% 0, 100% 4%, 54% 50%, 100% 96%, 96% 100%, 50% 54%, 4% 100%, 0 96%, 46% 50%);
}
